<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/notFound.css">
        <title>P치gina n칚o encontrada</title>
    </head>

    <body>
        <div class="container">
            <h1>Oops! P치gina n칚o encontrada.</h1>
            <p>Desculpe, a p치gina que voc칡 est치 procurando n칚o existe.</p>
            <div class="icon">游댌</div>
        </div>
    </body>
</html>