@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c1b22;
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-bottom: 8px;
}

h1{
    margin-right: 80px;
}

.cabecalho img{
    width: 50px;
}

hr{
    width: 100%;
    border: 0.1px solid #fff;
}

.chat-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.Chat{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Chat input{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    font-size: 30px;
    background-color: deeppink;
}

.Chat p{
    color: deeppink;
}

.Chat span{
    display: block;
    color: #fff;
}

.Chat .hora{
    color: #fff;
}

.enviar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.enviar img{
    width: 50px;
}

.enviar .foto{
    height: 30px;
    width: 40px;
}

.enviar input{
    height: 40px;
    width: 230px;
}

#fileInput {
    display: none; /* Oculta o input de arquivo */
}





.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidebar-content {
    position: absolute;
}

.sidebar-content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 12px;
}

.sidebar-content a:hover {
    color: #f1f1f1;
}

#menu-icon, .back-icon {
    cursor: pointer;
}

.back-icon {
    position: absolute;
    top: -38px;
    left: 10px;
    width: 30px;
}




/*Esses códigos irão garantir que o placeholder seja exibido em preto 
nos navegadores Chrome, Firefox, Microsoft Edge, Safari e Internet Explorer.*/
::-webkit-input-placeholder {
    color: black;
}
 
:-moz-placeholder {
    color: black;
}
 
::-moz-placeholder {
    color: black;
}
 
:-ms-input-placeholder {
    color: black;
}

::placeholder {
    color: black;
}