body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1c1b22;
}

.container {
    padding: 50px;
}

h1 {
    font-size: 36px;
    color: #fff;
}

p {
    font-size: 18px;
    color: #eddfdf;
}

.icon {
    font-size: 88px;
    color: #ff6347;
}