@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c1b22;
}

h1{
    color: #fff;
}

.container {
    margin-top: 4px;
    width: 85%;
    height: 75vh;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #000;
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

form div{
    margin-left: 40px;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.form-header h1{
    color: #fff;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-left: 0px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 2.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid rgb(173, 101, 173);
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
}



.file-upload {
    position: relative;
    display: inline-block;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-label {
    display: inline-block;
    padding: 12px 56.2px;
    background-color: #fff;
    color: #949292;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}






.esqueceu{
    color: #fff;
}

.esqueceu a{
    color: rgb(173, 101, 173);
    text-decoration: none;
}

.input-box input::placeholder {
    color: #000000be;
}

.continue-button{
    display: flex;
    flex-direction: column;
}

.continue-button button {
    width: 100%;
    margin-top: .8rem;
    margin-bottom: .7rem;
    border: none;
    background-color: rgb(142, 70, 142);
    padding: 0.62rem;
    border-radius: 8px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: rgb(173, 101, 173);
}

.continue-button button a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}


/*Esses códigos irão garantir que o placeholder seja exibido em preto 
nos navegadores Chrome, Firefox, Microsoft Edge, Safari e Internet Explorer.*/
::-webkit-input-placeholder {
    color: black;
}
 
:-moz-placeholder {
    color: black;
}
 
::-moz-placeholder {
    color: black;
}
 
:-ms-input-placeholder {
    color: black;
}

::placeholder {
    color: black;
}
