<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/grupos.css">
        <title>Página Grupos Chat ABBA</title>
    </head>

    <body>
        <div class="cabecalho">
                        
            <img src="/img/more.png" alt="Menu" id="menu-icon">
               
            <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grupos</h2>
        </div>

        <div id="sidebar" class="sidebar">
            <div class="sidebar-content">
                <img src="/img/more.png" alt="Voltar" id="back-icon" class="back-icon">
                <a href="Home.html">Pagina inicial</a>
                <a href="barra.html">Utilizadores</a>
                <a href="grupos.html">Grupos</a>
                <a href="#">Logout</a>
            </div>
        </div>

        <div class="pesquisa"> 
            <input type="text" class="icon-rtl" value placeholder="Pesquise um Grupo"> 
        </div>

        <hr>

        <div class="titulo">
            <h3> <img src="/img/users-alt.png" alt="Foto"> Todos os Grupos </h3>
            <hr class="gr">
        </div>

        <div class="Chat">
            <p> Público </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068129.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> ISPTEC </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068238.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> EINF-6 </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068017.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Festa da Eugelice </p>
                
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068073.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Dia 17 </p>
                
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068073.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Era uma vez </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068129.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> NNNNNNNNNNNNNN </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068238.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> EINF-6 </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068017.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Tudo na Boa </p>
                
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068073.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Adoço do Estudo </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068238.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Gente cansada </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068017.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Matéria da Uni </p>
                
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068073.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr class="gr"> 

        <div class="vermais">
            <a href="#"> Ver mais</a>
        </div>

    </body>

    <script src="/js/grupos.js"></script>

</html>