<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/home.css">
        <title>Página Inicial Chat ABBA</title>
    </head>


    <body>
        <div class="cabecalho">
            <img src="/img/more.png" alt="Menu" id="menu-icon">
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PÚBLICO</h1>
        </div>

        <div id="sidebar" class="sidebar">
            <div class="sidebar-content">
                <img src="/img/more.png" alt="Voltar" id="back-icon" class="back-icon">
                <a href="/home">Pagina inicial</a>
                <a href="/login">Utilizadores</a>
                <a href="/groups">Grupos</a>
                <a href="#">Logout</a>
            </div>
        </div>

        <div class="pessoa">
            <h2> Bem-Vindo, Eugelice </h2>
            <hr>
        </div>

        <div class="titulo">
            <h2> Os meus grupos </h2>
            <hr class="gr">
        </div>

        <div class="Chat">
            <p> Público </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068129.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> ISPTEC </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068238.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> EINF-6 </p>
            
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068017.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Festa da Eugelice </p>
                
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068073.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr>

        <div class="Chat">
            <p> Máteria da Uni </p>
                
            <div>
                <img class="m1" src="https://cdn-icons-png.flaticon.com/128/8068/8068073.png" alt="Notificações">
                <img class="m1" src="/img/right-arrow.png" alt="Seta">
            </div>
        </div>

        <hr class="gr"> 

        <div class="vermais">
            <a href="grupos.html"> Ver mais</a>
        </div>

        <div class="titulo">
            <h2> <img src="/img/users-alt.png" alt="Foto"> Pessoas Online </h2>
            <hr class="gr">
        </div>

        <div class="on">
            <img src="/img/circle-user.png" alt="Foto">
            <p class="Marcelo"> &nbsp;&nbsp;&nbsp;Marcelo Rocha </p>
        </div>

        <hr>

        <div class="on">
            <img src="/img/circle-user.png" alt="Foto">
            <p class="Darilton"> &nbsp;&nbsp;&nbsp;Darilton Mario </p>
        </div>

        <hr>

        <div class="on">
            <img src="/img/circle-user.png" alt="Foto">
            <p class="otilia"> &nbsp;&nbsp;&nbsp;Otilia Marques </p>
        </div>

        <hr>

        <div class="on">
            <img src="/img/circle-user.png" alt="Foto">
            <p class="Antonewton"> &nbsp;&nbsp;&nbsp;Antonewton Quima </p>
        </div>

        <hr class="gr">
    
        <div class="vermais">
            <a href="barra.html"> Ver mais</a>
        </div>
    </body> 
    <script src="/js/home.js"></script>
</html>