<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <title>Registro Chat ABBA</title>
    </head>

    <body>

        <h1>ZEN</h1>

        <div class="container">
            
            <div class="form">
                <form action="#">
                    <div class="form-header">
                        <div class="title">
                            <h1>Registar-se</h1>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                        </div>

                        <div class="input-box">
                            <label for="username">Usuário</label>
                            <input id="username" type="text" name="username" placeholder="Digite seu Nome de Usuário" required>
                        </div>

                        <div class="input-box">
                            <label for="password">Palavra Passe</label>
                            <input id="password" type="password" name="password" placeholder="Digite sua Palavra Passe" required>
                        </div>

                        <div class="input-box">
                            <label for="confirmPassword">Confirme sua Palavra Passe</label>
                            <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirme sua Palavra Passe" required>
                        </div>

                        <div class="input-box">
                            <label for="file">Foto de Perfil</label>
                            <input type="file" class="foto" id="imageUpload" name="imageUpload" accept="image/*" required>
                        </div>

                    </div>

                    <div class="continue-button">
                        <button><a href="#">Registar</a> </button>

                        <label for="text" class="esqueceu"> Já Tem Conta &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="login"> Entar </a> 
                        </label>

                    </div>
                </form>
            </div>
        </div>

        <div>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </body>

</html>